.container {
    padding-bottom: 8.1rem;
}

.card,
.card-body {
    border-width: 2px;
    color: #339966;
}

.card {
    margin: 0 auto;
    top: 17%;
    width: 270px;
    height: 330px;
}

.card-body {
    text-align: center;
}

a:link,
a:visited {
    color: #339966;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    font-weight: bold;
}

.modal-header-danger {
    background-color: #DC143C;
    color: #fff;
}