.active {
    font-weight: bold;
}

a:hover {
    font-weight: bold;
    cursor: pointer;
}

.nav-item .nav-link {
    color: #fff;
    cursor: pointer;
}

.nav-item {
    text-shadow: 1px 1px 5px #000;
}

.homepage:focus {
    font-weight: bold;
}

.dropdown-menu {
    background-color: #339966;
    text-align: right;
}