.container {
    padding-bottom: 6.3rem;
}


/* Breadcrumbs */

.bc-row {
    font-size: 14px;
}

.bc-link {
    color: #339966;
    text-decoration: underline;
    cursor: pointer;
}


/* Title */

.title {
    text-decoration: underline;
    color: #339966;
    text-align: center;
}


/* Buttons */

.btn {
    color: #fff;
    -webkit-transition: -webkit-filter 0.3s;
    transition: -webkit-filter 0.3s;
    -o-transition: filter 0.3s;
    transition: filter 0.3s;
    transition: filter 0.3s, -webkit-filter 0.3s;
}

.btn:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:hover {
    -webkit-filter: brightness(120%);
    filter: brightness(120%);
}

.sort-btn {
    color: #339966;
    border: none;
    background: none;
    padding: 2px;
}

.sort-btn:focus {
    -webkit-filter: brightness(140%);
    filter: brightness(140%);
    border: none;
    background: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.open-btn {
    background-color: #339966;
}

.close-btn {
    background-color: #DC143C;
}

.history-btn {
    background-color: #49118e;
}

.active-job-btn {
    background-color: #0275d8;
}


/* Modals */

form {
    text-align: right;
    color: #339966;
}

.md-form {
    text-align: right;
}

.modal {
    overflow: auto !important;
}

.confirm-modal {
    z-index: 4000;
}

.modal-header {
    background-color: #339966;
    color: #fff;
    padding-left: 40px;
}

input,
textarea,
select {
    font-size: 13px;
    direction: rtl;
}

.default-option {
    color: #000;
}


/* Table */

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #cecece;
}

.table td,
.table th {
    text-align: center;
    color: #339966;
}

.table td {
    vertical-align: middle;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

.table th {
    font-size: 13px;
}

.table-icon,
.loading-spinner {
    color: #339966;
}

.table .product-missing {
    color: #fff;
}

.total-cost {
    text-align: start;
    color: #339966;
    font-size: 15px;
}


/* Pagination */

ngb-pagination ::ng-deep ul>li:not(.active)>a {
    color: #339966 !important;
    background-color: #fff !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 10px;
}

ngb-pagination ::ng-deep ul>li.active>a {
    color: #fff !important;
    background-color: #339966 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-color: #fff !important;
    font-size: 10px;
}

.pagination-options {
    color: #339966;
}


/* Product stock colors */

.colorSIR {
    background-color: #d9534f;
}

.colorCAM {
    background-color: #5cb85c;
}